*{box-sizing:border-box;}


body{    
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h1{
    color: #09C;
}

p{
  line-height: 30px;
  text-align: justify;
}

ol, ul, dl {
	padding-left: 20px;
	margin-top: 10px;
}

ol li{
	list-style-type: decimal;
	line-height: 30px;
}

ul li{
	list-style-type: circle;
	line-height: 30px;
}

a{
	color:white;
	text-decoration:none;
}

code {
    display:block;
    background-color: rgb(233, 229, 229);
    color: blue;
    border: 1px solid lightgray;
    font-family: monospace;
}

table {
    width: 50%;
    margin: auto;
}

  form {
            border:1px solid #000;
            padding: 20px;
            }

input[type="text"]{
    padding: 2px 0 2px 5px;
}

input[type="text"]:valid{
    color: green;
    border: 1px solid green;
}

input[type="text"]:invalid{
    color: red;
    border: 1px solid red;
}


section{	
    background-color:  rgb(245, 245, 245);
    border:1px solid rgb(206, 205, 205);
    border-radius:2px;
	margin: 3em auto;
    -webkit-box-shadow: 13px 20px 31px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 20px 31px -13px rgba(0,0,0,0.75);
    box-shadow: 13px 20px 31px -13px rgba(0,0,0,0.75);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

section h2{	
	padding:1em 0em;
	font-size:1.5em;
	background-color: #FFC107;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
}

section h3{
	font-weight:bold;
	font-size:1.25em;
	margin:1em auto;
}

section article{
	padding:1.75em;
}

section button {
	padding:1em;
	background-color: #0099CC;
	color:white;
	display:inline-block;
	margin: 1em auto;
	border:none;
	cursor:pointer;
}

section button:hover {
transition: box-shadow .28s cubic-bezier(0.4,0.0,0.2,1);
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

section table{
	margin 1.5em auto;
}

section a{
	font-weight:bold;
	color:#0099CC;
	
}
