
/* Layouts
****************************************************************************/

.nav-wrapper{
    position: sticky;
    top: 0;
    z-index: 999;
	background-color: #0099CC;
	/*  padding: 20px;  */   
}

nav{
    max-width: 1024px;
    margin: auto;
}



main{    
    max-width: 1024px;
    margin: 1em auto;
    margin-bottom: 50px;
    
}

.footer-wrapper{
	position: relative;
    bottom: 0;
    width: 100%;
   	padding: 20px; 
    background-color: #000000;	
}

footer{
    max-width: 1024px;
    margin: auto;
    text-align:center;
    color:white;
}